*{
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif; 
}

body {
  background-color: #202020;
  color: #c4d6e9;
}

a{
  text-decoration: none;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header-container {
  padding: 20px; 
  border-bottom: 2px solid #007bff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.logo h1 {
  font-size: 2.5em;
  color: #355779;
  margin: 0;
}

nav ul {
  list-style: none; /* Removes default list styling */
  padding: 0; /* Removes padding */
  margin: 0; /* Removes margin */
  display: flex; /* Aligns list items in a row */
}

nav ul li {
  margin-left: 20px; /* Space between menu items */
}

nav ul li a {
  text-decoration: none; /* Removes underline from links */
  color: #c4d6e9; /* Link color */
  font-size: 1.2em; /* Link size */
}

nav ul li a:hover {
  color: #355779; /* Darker color on hover */
}


.main-container{
  display: flex;
  align-items: center;
  gap: 7rem;
  height:auto;
}

.paragraph {
  margin: 1.2rem 0;
}

.btn{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  padding: 0.6rem 2.4rem;
  text-align: center;
  font-weight: 500;
  outline: none;
  border: 1px solid #ffff;
  background: #202020;
  color: #fff;
  border-radius: 1.5rem;
  text-transform: unset;
  transition: all 0.3s ease-in-out;
}

.content-btn:hover{
  background: #a4b300aa;
  font-size: 15px;
}

.main-container img{
  width: 500px;
  height: 300px;
}

.about-container .title{
  text-align: center;
  margin: 40px 40px;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  padding: 0 !important;
}

.card-container{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 calc(25% - 10px); 
  border: 1px solid #ccc; 
  border-radius: 40px;
  padding:20px;
  margin: 5px;
  background-color: #3b454f;
  max-width: 28%;
}

.card-title {
  font-weight: 600;
  line-height: 40px;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: #ddb010;
  font-size: 16px;
  max-width: 470px;
}

.contact-title {
  text-align: center;
  margin: 40px auto;
  padding: 20px;
  font-size: 3rem;
}

.contact-section .actions{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  padding: 10px;
  gap:30px;
  width: 100%;
}

.form-control{
  background-color: #000;
  font-size: 1.6rem;
  color: #fff;
  outline: none;
  border: 0.1rem solid rgba(255, 255, 255, 0.4);
  padding: 1.2rem 1.6rem;
  border-radius: 0.3rem;
  width: 421px; 
}

.text-area{
  width: 421px; 
  height: 100px;
  color: #fff;
}

.contact-btn {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width:200px;
}

.contact-btn:hover {
  background-color: #a4b3007c;
}


.footer-section{
  background-color: #222d37;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px auto;
}

.footer-contact {
  height: 6rem;
  display: flex;
  gap: 2.4rem;
  align-items: center;

  & .icon {
    color: #3a4ed5;
    font-size: 1.6rem;
  }
}

.footer-contact-text {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  & p {
    font-size: 1.2rem;
    color: #757575;
  }

  & p:first-child {
    font-size: 1.2rem;
    font-weight: bold;
    color:#c4d6e9;
  }
}

.copyright-text{
  text-align: end;
  margin: 10px auto;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}


img{
  width: 80px;
  height: 80px;
}

ul li{
  list-style: none;
}

.country-details-card{
  display: flex;;
  align-items: center;
  justify-content: center;
}

.country-container-card{
  max-width: 50%;
}


.search-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 3.2rem auto;


  & input {
    font-size: 1.55rem;
    text-transform: capitalize;
    border: 0.05rem solid #fff;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    color: white;
    height:35px;
    border-radius: 5rem;
    padding: 0.6rem;
    outline: none;
  }

  & .select-section {
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    color: rgba(255, 255, 255, 0.8);
    padding: 0.6rem;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
  }

  & .select-section > option {
    background-color: #080509;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 5rem;
    margin-top: 1rem;
  }
}